$color-primary: #ffcf6c;
$color-primary-opaque: #ffcf6ccc;
$color-secondary: #182a50;
$color-secondary-opaque: #182a50cc;
$color-info: #25848e;
$color-info-opaque: #25848ecc;
$color-warning: #d9765e;
$color-warning-opaque: #d9765ecc;
$color-danger: #fc4445;

:export {
  color-primary: $color-primary;
  color-secondary: $color-secondary;
  color-warning: $color-warning;
  color-info: $color-info;
}
