@import "./colors";
$maxWidth: 960px; //defines the maximum width of the main components of the application;
@import "./alert.scss";
@import "./navbar.scss";
@import "./spinner.scss";
@import "./indexPage.scss";
@import "./toolbar.scss";
@import "./signPages.scss";
@import "./addButton.scss";
@import "./tasks.scss";
// change the default bootstrap theme
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "info": $color-info,
  "warning": $color-warning,
  "danger": $color-danger,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 100vw;
}
a {
  color: $color-info;
  text-decoration: underline;
}
a:hover {
  color: $color-primary;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $color-secondary;
    background: #fff;
  }
}
