@import "./colors";
@import "./alert.scss";
@import "./navbar.scss";
@import "./spinner.scss";
@import "./indexPage.scss";
// change the default bootstrap theme
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "info": $color-info,
  "warning": $color-warning,
  "danger": $color-danger,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $color-secondary;
    background: #fff;
  }
}
